/* has styling for the display page */

* {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
 border: none;
 text-decoration: none;
 text-transform: capitalize;
}

html {
 font-size: 62.5%;
 overflow-x: hidden;
 scroll-behavior: smooth;
 scroll-padding-top: 7rem;
}
h6{
 font-size: 1rem;
}

body {
 background-color: #f7f7ff;
 font-size: 1.8rem;
}

.headersection{
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 6%;
 box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
 margin-bottom: 20px;
 height: 80px;
 background-color: #fff;
}

.heading {
 text-align: center;
 color: #333;
 font-size: 3rem;
 padding: 3rem 0;
}

.heading span {
 color: orangered;
 padding: .2rem;
}

.title{
 display: flex;
 align-items: center;
  justify-content: space-between;
}

.logo {
 cursor: pointer;
 color: #000;
}

.orange {
 color: orangered;
}

.register-btn {
 background: orangered;
 color: #fff;
 padding: 8px 20px;
 border-radius: 20px;
 text-decoration: none;
 font-size: 14px;
}

/* searchbutton */
/* .search {
 position: relative;
 width: 400px;
 margin: 0 10px;
}


.search input {
 width: 70%;
 height: 30px;
 border-radius: 40px;
 padding: 5px 20px;
 padding-left: 30px;
 font-size: 18px;
 border: 1px solid #999;
} */


.btn{
 border: none;
 outline: 0;
 background-color: orangered;
 color: #fff;
 text-align: center;
 padding: 10px;
 display: inline-block;
 margin: 10px;
 border-radius: 4px;
 text-decoration: none;
   color: #fff;
   font-size: 1.5rem;
}

.agentcard{
 width: 300px;
 padding: 5px;
 box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
 margin: 10px;
 height: 400px;
}

.row{
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

/* agents */
/* agents styling */
.agents .box-container {
 display: flex;
 flex-wrap: wrap;
 gap: 1.5rem;
 justify-content: center;
}

.agents .box-container .box {
 background: #fff;
 text-align: center;
 border: .1rem solid rgba(0, 0, 0, .2);
 box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
 border-radius: .5rem;
 padding: 2rem;
 position: relative;
 width: 35rem;
}

.agents .box-container .box .fa-envelope {
 position: absolute;
 top: 1.8rem;
 left: 2rem;
 color: #333;
 font-size: 2rem;
}

.agents .box-container .box .fa-envelope:hover {
 color:orangered;
}

.agents .box-container .box .fa-phone {
 position: absolute;
 top: 1.8rem;
 right: 2rem;
 color: #333;
 font-size: 2rem;
}

.agents .box-container .box .fa-phone:hover {
 color:orangered;
}

.agents .box-container .box img {
 border-radius: 50%;
 box-shadow: 0 0 0 .5rem rgba(0, 0, 0, .1);
 object-fit: cover;
 height: 10rem;
 width: 10rem;
 margin: 1rem 0;
}

.agents .box-container .box h3 {
 font-size: 2rem;
 color: #333;
}

.agents .box-container .box span {
 font-size: 1.7rem;
 color:orangered;
}

.agents .box-container .box .share {
 padding-top: 2rem;
}

.agents .box-container .box .share a {
 /* margin: 0 .3rem;
 height: 4rem;
 width: 4rem;
 line-height: 4rem;
 background: #f7f7f7;
 color: #666;
 border-radius: .5rem;
 font-size: 2rem; */

 text-decoration: none;
 color: #fff;
 font-size: 2rem;
}

.agents .box-container .box .share a:hover {
 background: white;
  color: orangered;
  transition: .01s ease-in-out;
}

section{
 margin-bottom: 20px;
}